
<div class="otp-page">
  <h2 class="otp-title">Elige un método de verificación</h2>
  <p class="otp-info">El código de verificación será enviado.</p>
  
  <div class="method-selection">
    <button class="method-button sms" [disabled]="selectedMethod !== null" (click)="selectMethod('sms')">
      <span class="icon">📩</span> SMS
    </button>
    <!-- <button class="method-button email" [disabled]="selectedMethod !== null" (click)="selectMethod('email')">
      <span class="icon">✉️</span> Correo
    </button> -->
    <button class="method-button whatsapp" [disabled]="selectedMethod !== null" (click)="selectMethod('whatsapp')">
      <span class="icon">📱</span> WhatsApp
    </button>
  </div>

  <div *ngIf="selectedMethod" class="countdown">
    Código enviado vía {{ selectedMethod === 'sms' ? 'SMS' : 'Correo' }}. 
    Espera {{ countdown }}s para volver a seleccionar.
  </div>
  
  <form [formGroup]="otpForm"  class="otp-form">
    <label for="otp" class="otp-label">Código de verificación*</label>
    <div class="otp-input-container">
      <input id="otp" type="text" formControlName="otp" class="otp-input" maxlength="6" placeholder="_ _ _ _ _ _">
      <div *ngIf="isLoading" class="spinner"></div>
    </div>
    <div *ngIf="!isOtpValid" class="error-message">Código inválido, inténtalo de nuevo</div>
  </form>

  <button type="button" (click)="validateOtp()" class="continue-btn" >Continuar</button>

</div>