<div class="container">
    <div class="text-center">
      <h1 class="title">Captura tu Documento de Identidad</h1>
      <p class="subtitle">Por favor, sube o toma una foto clara a la <strong>cara trasera</strong> de tu documento de identidad.</p>
    </div>

    <form class="form-container">
      <div class="photo-section">
        <h3 class="section-title">Subir Foto</h3>
        <div class="photo-placeholder">
        
            <div *ngIf="isLoading" class="loader"></div>
        
            <div *ngIf="validationComplete" [ngClass]="{'success-check': IsCorrectPhoto, 'error-x': !IsCorrectPhoto}">
              {{ IsCorrectPhoto ? '✔' : '✖' }}
            </div>
        
            <div *ngIf="validationComplete && !IsCorrectPhoto && isDesktop" class="retry-option">
              <!-- <p>No se detectó una cédula válida.</p> -->
              <button type="button" class="retry-btn" (click)="retryCapture()">Reintentar</button>
            </div>

            <div *ngIf="validationComplete && !IsCorrectPhoto && !isDesktop" class="retry-option">
              <!-- <p>No se detectó una cédula válida.</p> -->
              <button type="button" class="retry-btn" (click)="fileGallery.click()">Reintentar</button>
            </div>
        
            <video #videoElement *ngIf="showVideo" autoplay class="photo-box"></video>
        
            <!-- Indicador cuando no hay foto ni video -->
            <div *ngIf="!showVideo && !isLoading && !validationComplete" class="photo-instruction" >
              <!-- <p>📷 Haz clic aquí para tomar una foto</p> -->
            </div>
        
            <!-- Botón de captura dentro del cuadro -->
            <button *ngIf="showVideo" (click)="capturePhoto()" class="capture-btn"></button>
        </div>

        <div class="photo-actions">
          <!-- Botón para encender la cámara en PC -->
          <button *ngIf="isDesktop" class="btn-photo" (click)="openCamera()">
            📷 Tomar Foto
          </button>
          <button *ngIf="isDesktop" class="btn-photo" (click)="fileGallery.click()">
            📂 Subir Imagen
          </button>
        
          <!-- Botón para abrir la galería en móviles -->
          <button *ngIf="!isDesktop" class="btn-photo" (click)="fileGallery.click()">
            📂 Subir Imagen
          </button>
        
          <!-- Input oculto para seleccionar una imagen -->
          <input #fileGallery 
                 type="file" 
                 accept="image/*" 
                 multiple 
                 (change)="onPhotoUpload($event)" 
                 class="hidden-input" />
        </div>
        

        <!-- <div class="upload-container">
          <input #fileGallery 
                 type="file" 
                 accept="image/*" 
                 multiple 
                 (change)="onPhotoUpload($event)" 
                 class="hidden-input" />
          
          <a class="upload-link" (click)="fileGallery.click()">📂 Seleccionar una imagen de la galería</a>
        </div> -->
        <!-- Canvas oculto para procesar la imagen -->
        <canvas #imageCanvas class="hidden-canvas"></canvas>
      </div>

      <button class="continue-btn" type="button" (click)="onSubmit()">
        Continuar
      </button>
    </form>
</div>
