<div >
    <div class="page-wrapper">
      <header class="custom-header">
        <nav class="nav-bar">
          <div class="brand-title">LEONISA</div>
          <!-- <div class="nav-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle icono-usuario" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <button class="logout-btn" (click)="logout()">
              FINALIZAR SESIÓN
            </button>
          </div> -->
        </nav>
      </header>
      
      <!-- <div class="banner">
        <img src="assets/images/banner-header-2.jpg" alt="Banner de Bienvenida" style="width: 100%; height: auto;">
      </div> -->

      <div class="page-body-wrapper">
        <!-- <div *ngIf="!isVistaPlantilla1Component()" class="page-sidebar" [class.open]="navServices.collapseSidebar">
          <app-sidebar></app-sidebar>
          <div class="right-sidebar" [class.show]="right_side_bar" id="right_side_bar">
            <app-right-sidebar></app-right-sidebar>
          </div>
        </div> -->
        <div class="page-body">
          <!-- <app-breadcrumb *ngIf="!isVistaPlantilla1Component()"></app-breadcrumb> -->
          <main [@animateRoute]="getRouterOutletState(o)">
            <router-outlet #o="outlet"></router-outlet>
          </main>
        </div>
        <!-- <footer class="footer">
          <app-footer></app-footer>
        </footer> -->
      </div>
    </div>
    <!-- <div class="btn-light custom-theme" [class.rtl]="layoutClass" (click)="clickRtl(layoutType)">{{layoutType}}</div> -->
  </div>