<div class="container">
    <div class="text-center">
      <h1 class="title">Captura tu Foto de Rostro</h1>
      <p class="subtitle">Por favor, sube o toma una foto clara de tu rostro.</p>
    </div>
  
    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="photo-section">
        <h3 class="section-title">Capturar Foto</h3>
        
        <!-- Marco de la foto -->
        <div class="photo-placeholder">
          <video #videoElement *ngIf="showVideo" autoplay class="photo-box-video"></video>
        
          <img *ngIf="photoBase64 && !showVideo" [src]="photoBase64" class="photo-box" alt="Foto tomada"/>
        
          <div *ngIf="!showVideo && !photoBase64 && !isLoading" class="photo-instruction" (click)="openCamera()">
            <p>📷 Toca aquí para tomar una foto</p>
          </div>
        
          <div *ngIf="isLoading" class="loader"></div>
        
          <div *ngIf="validationComplete" [ngClass]="{'success-check': isCorrectPhoto, 'error-x': !isCorrectPhoto}">
            {{ isCorrectPhoto ? '✔' : '✖' }}
          </div>
        
          <div *ngIf="validationComplete && !isCorrectPhoto" class="retry-option">
            <button type="button" class="retry-btn" (click)="retryCapture()">Reintentar</button>
          </div>
        
          <!-- Botón flotante para capturar la foto -->
          <button *ngIf="showVideo" (click)="capturePhoto()" class="capture-btn"></button>
        </div>
        
        <!-- Subir Imagen -->
        <div class="upload-container">
          <input #photoInput type="file" accept="image/jpeg,image/png" capture="user" (change)="onPhotoUpload($event)" class="hidden-input"/>
          <a class="upload-link" (click)="photoInput.click()"> Subir Imagen</a>
        </div>
        
        <canvas #imageCanvas class="hidden-canvas"></canvas>
      </div>
  
      <button class="continue-btn" type="submit" [disabled]="!isCorrectPhoto">
        Continuar
      </button>
    </form>
  </div>
  