<div class="container">
    <div class="text-center">
      <h1 class="title">Captura tu Foto de Rostro</h1>
      <p class="subtitle">Por favor, sube o toma una foto clara de tu rostro.</p>
    </div>
  
    <form  class="form-container">
      <div class="photo-section">
        <h3 class="section-title">Capturar Foto</h3>
        
        <!-- Marco de la foto -->
        <div class="photo-placeholder">
          <video #videoElement *ngIf="showVideo" autoplay class="photo-box-video"></video>
        
          <img *ngIf="photoBase64 && !showVideo" [src]="photoBase64" class="photo-box" alt="Foto tomada"/>
        
          <div *ngIf="!showVideo && !photoBase64 && !isLoading" class="photo-instruction" >
          </div>
        
          <div *ngIf="isLoading" class="loader"></div>
        
          <div *ngIf="validationComplete" [ngClass]="{'success-check': isCorrectPhoto, 'error-x': !isCorrectPhoto}">
            {{ isCorrectPhoto ? '✔' : '✖' }}
          </div>
        
          <div *ngIf="validationComplete && !isCorrectPhoto && isDesktop" class="retry-option">
            <button type="button" class="retry-btn" (click)="retryCapture()">Reintentar</button>
          </div>

          <div *ngIf="validationComplete && !isCorrectPhoto && !isDesktop" class="retry-option">
            <button type="button" class="retry-btn" (click)="fileGallery.click()">Reintentar</button>
          </div>
        
          <!-- Botón flotante para capturar la foto -->
          <button *ngIf="showVideo" (click)="capturePhoto()" class="capture-btn"></button>
        </div>
        
        <div class="photo-actions">
          <!-- Botón para encender la cámara en PC -->
          <button *ngIf="isDesktop" class="btn-photo" (click)="openCamera()">
            📷 Tomar Foto
          </button>
          <button *ngIf="isDesktop" class="btn-photo" (click)="fileGallery.click()">
            📂 Subir Imagen
          </button>

          <!-- Botón para abrir la galería en móviles -->
          <button *ngIf="!isDesktop" class="btn-photo" (click)="fileGallery.click()">
            📂 Subir Imagen
          </button>
        
          <!-- Input oculto para seleccionar una imagen -->
          <input #fileGallery 
                 type="file" 
                 accept="image/*" 
                 multiple 
                 (change)="onPhotoUpload($event)" 
                 class="hidden-input" />
          </div>
        

        
        <canvas #imageCanvas class="hidden-canvas"></canvas>
      </div>
  
      <button class="continue-btn" type="button" (click)="onSubmit()">
        Continuar
      </button>
    </form>
  </div>
  