<div class="container">
  <h1>Información complementaria de la solicitud de cupo Leonisa</h1>
  <p>Completa los siguientes datos para continuar con tu solicitud</p>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="approbe-form">



    <div class="form-group">
      <div class="input-container">
        <input 
          type="text" 
          formControlName="lastName" 
          id="lastName" 
          placeholder=" " 
          [ngClass]="{'input-error': isInvalid('lastName')}"
        />
        <label for="lastName">Primer Apellido*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('lastName')">
        <ng-container *ngIf="myForm.get('lastName')?.errors?.['required']">
          El apellido es obligatorio.
        </ng-container>
        <ng-container *ngIf="myForm.get('lastName')?.errors?.['pattern']">
          Solo se permiten letras.
        </ng-container>
        <ng-container *ngIf="myForm.get('lastName')?.errors?.['minlength']">
          Debe tener al menos 2 caracteres.
        </ng-container>
        <ng-container *ngIf="myForm.get('lastName')?.errors?.['maxlength']">
          Máximo 50 caracteres.
        </ng-container>
      </div>
    </div>


    <div class="form-group">
      <div class="input-container">
        <input type="date" formControlName="documentExpedition" id="documentExpedition" placeholder=" " [ngClass]="{'input-error': isInvalid('documentExpedition')}" />
        <label for="documentExpedition">Fecha de expedición del documento*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('documentExpedition')">
        Selecciona una fecha válida.
      </div>
    </div>


    

    <div class="form-group">
      <div class="input-container">
        <input 
          type="email" 
          formControlName="email" 
          id="email" 
          placeholder=" " 
          [ngClass]="{'input-error': isInvalid('email')}"
        />
        <label for="email">Correo Electrónico*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('email')">
        <ng-container *ngIf="myForm.get('email')?.errors?.['required']">
          El correo es obligatorio.
        </ng-container>
        <ng-container *ngIf="myForm.get('email')?.errors?.['email']">
          Ingresa un correo válido.
        </ng-container>
        <ng-container *ngIf="myForm.get('email')?.errors?.['maxlength']">
          Máximo 100 caracteres permitidos.
        </ng-container>
      </div>
    </div>

    <button type="submit" [disabled]="myForm.invalid">
      Continuar
    </button>
  </form>
</div>
