<div class="container">
  <h1>Información complementaria de la solicitud de cupo Leonisa</h1>
  <p>Completa los siguientes datos para continuar con tu solicitud</p>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="approbe-form">

    <div class="form-group">
      <div class="input-container">
        <input type="text" formControlName="firstName" id="firstName" placeholder=" " [ngClass]="{'input-error': isInvalid('firstName')}" />
        <label for="firstName">Primer nombre*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('firstName')">
        El campo no puede estar vacío.
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="text" formControlName="lastName" id="lastName" placeholder=" " [ngClass]="{'input-error': isInvalid('lastName')}" />
        <label for="lastName">Primer apellido*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('lastName')">
        El campo no puede estar vacío.
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="date" formControlName="birthDate" id="birthDate" placeholder=" " [ngClass]="{'input-error': isInvalid('birthDate')}" />
        <label for="birthDate">Fecha de nacimiento*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('birthDate')">
        Selecciona una fecha válida.
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="date" formControlName="documentExpedition" id="documentExpedition" placeholder=" " [ngClass]="{'input-error': isInvalid('documentExpedition')}" />
        <label for="documentExpedition">Fecha de expedición del documento*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('documentExpedition')">
        Selecciona una fecha válida.
      </div>
    </div>

    <div class="form-group">
      <select 
        formControlName="gender" 
        [ngClass]="{'input-error': isInvalid('gender')}"
      >
      <option value="" disabled selected>Género*</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
      <option value="O">Otro</option>
      </select>
      <div class="error-message" *ngIf="isInvalid('gender')">
        El campo no puede estar vacío.
      </div>
    </div>

    

    <div class="form-group">
      <div class="input-container">
        <input type="email" formControlName="email" id="email" placeholder=" " [ngClass]="{'input-error': isInvalid('email')}" />
        <label for="email">Correo Electrónico*</label>
      </div>
      <div class="error-message" *ngIf="isInvalid('email')">
        El campo no puede estar vacío.
      </div>
    </div>

    <button type="submit" [disabled]="myForm.invalid">
      Continuar
    </button>
  </form>
</div>
